body{
    font-family: monospace;
    background-image: url('images/star-wars-backgrounds-14.jpeg'); 
    background-size: cover;
    color: white;
}

.images {
    display: none;
}

#image-container{
    display: flex;
    width: 700px;
    height: 700px;
    padding-left: 588px;
}

#thumbUp, #thumbDown{
    font-size: 50px;
}

.vote{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#thumbUp, #thumbDown{
    padding: 10px;
}

#question-container, #form-container, .vote, h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#question-area, #randomizer{
    padding-left: 10px;
    padding-right: 10px;
}


