body{
    width: 1000px;
    height: 1000px;
    background-image: url('images/star-wars-backgrounds-14.jpeg'); 
    background-size: cover;

    color: white;
    /* text-align: center; */
}

#text-area, h1{
    background-color: black;
}

.images {
    display:none
}

.container{
    position: relative;
    display: flex;
    width: 700px;
    height: 700px;
    object-fit: cover;
}

#thumbUp, #thumbDown{
    font-size: 50px;
}

.vote{
    display: flex;
    /* justify-content: space-around; */
}